-- GestiÃ³n de Tareas y Cronogramas
CREATE TABLE tareas (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  proyecto_id UUID REFERENCES proyectos(id) ON DELETE CASCADE,
  titulo TEXT NOT NULL,
  descripcion TEXT,
  estado TEXT CHECK (estado IN ('To Do', 'In Progress', 'Review', 'Done')) DEFAULT 'To Do',
  prioridad TEXT CHECK (prioridad IN ('Baja', 'Media', 'Alta', 'Urgente')),
  asignado_a UUID REFERENCES auth.users(id),
  fecha_inicio TIMESTAMP WITH TIME ZONE,
  fecha_entrega TIMESTAMP WITH TIME ZONE,
  orden_kanban INTEGER, -- Para persistir el orden en la vista Kanban
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Control de Tiempos (Time Tracking) de Excelencia
CREATE TABLE time_entries (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  tarea_id UUID REFERENCES tareas(id) ON DELETE CASCADE,
  user_id UUID REFERENCES auth.users(id),
  descripcion TEXT,
  inicio TIMESTAMP WITH TIME ZONE NOT NULL,
  fin TIMESTAMP WITH TIME ZONE,
  duracion_segundos INTEGER, -- Calculado al detener el timer
  es_facturable BOOLEAN DEFAULT TRUE,
  tarifa_por_hora DECIMAL(10,2) -- Heredado del contrato o perfil
);

-- Equipo y Roles del Proyecto
CREATE TABLE proyecto_equipo (
  proyecto_id UUID REFERENCES proyectos(id) ON DELETE CASCADE,
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  rol TEXT CHECK (rol IN ('Admin', 'Staff', 'Viewer', 'Client')),
  PRIMARY KEY (proyecto_id, user_id)
);
